.topnav {
	width: 100%;
}

ul.topnav {
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.topnav li a {
	color: #555;
	display: block;
	line-height: 1;
	text-decoration: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 20px 10px;
}

ul.topnav li a:hover {
	background-color: #ddd;
	color: #000;
}

ul.topnav ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.topnav ul li {
	clear: both;
	margin: 0;
	padding: 0;
}

ul.topnav ul li a {
	font-size: 11px;
	outline: 0 none;
}

ul.topnav ul li a:hover {
	background-color: #ddd;
	color: #555;
}

ul.topnav span {
	float: right;
	margin-top: 2px;
}

.has-children a {
	color: red !important;
}
