html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
}

h1.h1 {
    font-size: 20px !important;
    font-weight: bold;
}

.app-basket {
    font-size: 1.4em !important;
}

.badge-basket {
    margin: -5px 0 0 2px;
}

.navbar-brand {
    font-size: 13px;
}

.need-help {
    margin-top: 20px;
    display: inline-block;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.logo-block {
    margin: 30px 0 100px 0;
}

.welcome {
    margin-top: 10px;
}

.carousel-control.right, .carousel-control.left {
   background-image: none;
}

.carousel-caption {
    color: #333;
}

.title-render {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 10px 10px;
}

.title-categories {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 16px 20px 16px 10px;
    margin: 0;
    background: #2196F3;
    color: #fff;
}

.items-panel h5 {
    font-size: 17px;
    margin-bottom: 10px;
}

.items-panel h5 a {
    color: #2196F3;
}

.items-panel .panel-body {
    padding: 30px !important;
}

.label-star, .color-red {
    color: #d00;
}

form ul li {
    color: #d00;
}

.captcha-box {
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
}

#captcha {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 5px;
    width: 42px;
}

.well {
    border-radius: 3px;
}

.footer p {
    display: inline-block;
}

.copyright {
    margin-bottom: 5px;
}

.app-top-menu {
    padding-left: 0px;
}

.breadcrumb {
    background-color: #fff;
    margin-bottom: 0;
}

.breadcrumbs-block {
    margin-top: 7px;
}

.app-menu-title {
    display: inline-block;
    margin: 14px 0 0 11px;
    font-size: 1.3em;
    font-weight: bold;
}

.title-render {
    height: 56px;
}

.title-render h1 {
    margin-top: 14px;
}

.navbar-admin {
    margin-top: 0;
    margin-bottom: 0;
}















/* Media */
@media (max-width: 767px) {
    .app-top-menu, .need-help {
        padding-left: 15px;
    }

    .title-render {
        height: auto;
    }
}
