html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
}

h1.h1 {
    font-size: 20px !important;
    font-weight: bold;
}

.app-basket {
    font-size: 1.4em !important;
}

.badge-basket {
    margin: -5px 0 0 2px;
}

.navbar-brand {
    font-size: 13px;
}

.need-help {
    margin-top: 20px;
    display: inline-block;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.logo-block {
    margin: 30px 0 100px 0;
}

.welcome {
    margin-top: 10px;
}

.carousel-control.right, .carousel-control.left {
   background-image: none;
}

.carousel-caption {
    color: #333;
}

.title-render {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 10px 10px;
}

.title-categories {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 16px 20px 16px 10px;
    margin: 0;
    background: #2196F3;
    color: #fff;
}

.items-panel h5 {
    font-size: 17px;
    margin-bottom: 10px;
}

.items-panel h5 a {
    color: #2196F3;
}

.items-panel .panel-body {
    padding: 30px !important;
}

.label-star, .color-red {
    color: #d00;
}

form ul li {
    color: #d00;
}

.captcha-box {
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
}

#captcha {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 5px;
    width: 42px;
}

.well {
    border-radius: 3px;
}

.footer p {
    display: inline-block;
}

.copyright {
    margin-bottom: 5px;
}

.app-top-menu {
    padding-left: 0px;
}

.breadcrumb {
    background-color: #fff;
    margin-bottom: 0;
}

.breadcrumbs-block {
    margin-top: 7px;
}

.app-menu-title {
    display: inline-block;
    margin: 14px 0 0 11px;
    font-size: 1.3em;
    font-weight: bold;
}

.title-render {
    min-height: 56px;
}

.title-render h1 {
    margin-top: 14px;
}

.navbar-admin {
    margin-top: 0;
    margin-bottom: 0;
}

form textarea {
    resize: vertical;
    min-height: 200px;
}

input[placeholder]          {font-size: 12px;}
input::-moz-placeholder     {font-size: 12px;}
input:-moz-placeholder      {font-size: 12px;}
input:-ms-input-placeholder {font-size: 12px;}

.admin-product-form {
    padding-left: 0;
}

.admin-add-product-block {
    margin-top: 14px;
}

#adminProductSearchResult {
    max-height: 200px;
    overflow: auto;
}

.admin-product-edit-img {
    width: 30%;
}

.delete-product-form, .delete-user-form, .delete-admin-form {
    display: none;
}

.add-to-cart-button {
    padding-left: 17px;
    padding-right: 17px;
}

.img-box {
    position: relative;
    display: inline-block;
}

.newHomePage {
    position: absolute;
    top: 0;
    right: 0;
}

.newProductPage {
    position: absolute;
    top: 0;
    right: 50%;
}

.plus-minus-product {
    display: inline-block;
    margin-bottom: 0;
}

.plus-minus-product a {
    padding: 1px !important;
}

.plus-minus-product .badge {
    background-color: #2196F3;
}

.basket-concrete-product-count {
    border: 1px solid #ddd;
    padding: 0 5px;
    border-radius: 3px;
}

.h6-basket-selected-products {
    margin: 26px 0 15px;
}

.form-delete-button {
    display: inline-block;
}

.form-delete-button button {
    border: none;
    background: none;
    color: #2196f3;
    padding-left: 0;
}

.form-delete-button button:hover {
    color: #0a6ebd;
}

.basket-continue-cancel-buttons-box a {
    width: 100px;
}

.add-to-cart-box {
    position: relative;
}

.add-to-cart-box a:hover, .add-to-cart-box a:focus {
    text-decoration: none;
}

#sign-in-obligatory {
    width: 110px;
    display: none;
    position: absolute;
    bottom: -20px;
    right: 7px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 100;
}

#sign-in-obligatory.product-sign-in-obligatory {
    bottom: -60px;
    right: 18px;
}

.tooltip-inner {
    color: #ffffff;
    background-color: #2196F3;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #2196F3 !important;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #2196F3 !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #2196F3 !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2196F3 !important;
}

.my-order-top-panel {
    text-align: center;
}

.my-order-top-panel div {
    margin-top: -10px;
}

.my-order-bottom-panel {
    margin-top: 40px;
}

.search-block-per-main-page {
    //display: inline-block;
    //position: relative;
    //float: right;
}

.searchOnMainPage {
    //display: inline-block;
    //position: relative;
    //float: right;
}

#mainPageSearchResult {
    position: absolute;
    top: 77px;
    right: 98px;
    //left: 0;
    z-index: 100;
    background: #eee;
    width: 198px;
    max-height: 200px;
    overflow: auto;
    display: none;
    border-radius: 3px;
    padding: 5px 0;
}

#mainPageSearchResult li {
    margin-left: 10px;
}

#bs-example-navbar-collapse-1 {
    position: relative;
}

.about-img {
    background-color: #eee;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}













/* Media */
@media (max-width: 767px) {
    .app-top-menu, .need-help {
        padding-left: 15px;
    }

    .title-render {
        height: auto;
    }
}
